/*!
Theme Name: Grandi_Liutai_Italiani
Theme URI: http://sevengoldenhorses.com
Author: Federico Di Gesù
Author URI: http://sevengoldenhorses.com
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: grandi_liutai_italiani
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Grandi_Liutai_Italiani is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
	margin: 0;
	z-index: 1;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
	box-sizing: content-box; /* 1 */
	height: 0; /* 1 */
	overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
	border-bottom: none; /* 1 */
	text-decoration: underline; /* 2 */
	-webkit-text-decoration: underline dotted;
	        text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
	font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
	font-family: monospace, monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
	border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
	overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box; /* 1 */
	color: inherit; /* 2 */
	display: table; /* 1 */
	max-width: 100%; /* 1 */
	padding: 0; /* 3 */
	white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
	vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
	overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
	display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
	display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
	display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
	display: none;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
optgroup,
textarea {
	color: #404040;
	font-family: "Roboto Condensed", sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
}

p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #dbdbd3;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: #ccc #ccc #bbb;
	border-radius: 3px;
	background: #e6e6e6;
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	padding: .6em 1em .4em;
	height: 32px;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa;
}

button:active, button:focus,
input[type="button"]:active,
input[type="button"]:focus,
input[type="reset"]:active,
input[type="reset"]:focus,
input[type="submit"]:active,
input[type="submit"]:focus {
	border-color: #aaa #bbb #bbb;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 3px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

select {
	border: 1px solid #ccc;
}

textarea {
	width: 100%;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	/*color: royalblue;*/
	color: rgb(153,153,153);
}

a:visited {
	/*	*/
}

a:hover, a:focus, a:active {
	color: black;
}

a:focus {
	outline: thin dotted;
}

a:hover, a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0 0 20px 0px;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	float: left;
	position: absolute;
	top: 100%;
	left: -999em;
	z-index: 99999;
}

.main-navigation ul ul ul {
	left: -999em;
	top: 0;
}

.main-navigation ul ul li:hover > ul,
.main-navigation ul ul li.focus > ul {
	left: 100%;
}

.main-navigation ul ul a {
	width: 200px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	left: auto;
}

.main-navigation li {
float: left;
position: relative;
text-transform: uppercase;
letter-spacing: 1px;
color: #707170;
font-family: "Roboto Condensed";
font-size: 0.8rem;
cursor: pointer;
}

.main-navigation a {
	display: block;
	text-decoration: none;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: flex;
		flex-direction: column;
	}

}

.site-main .comment-navigation, .site-main
.posts-navigation, .site-main
.post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.menu-menu-categorie-container,
.menu-menu-pagine-container,
.menu-menu-account-container{
	margin: 20px 0 0px 0;
	border-bottom: 1px solid black;
}

.menu-menu-pagine-container {
	text-align: right;
	margin: 0;
}

.menu-menu-pagine-container li{
	margin: 8px 0;
}

.menu-menu-account-container {

}

.search-form {
	display: flex;
	flex-direction: row;
	margin: 20px 0;
}

label{
	max-width: 74% ;
}

.search-field {
	color: #666;
	border: 1px solid #fafbfc !important;
	border-radius: 3px;
	padding: 3px;
	background-color: #fafbfc;
	font-style: italic;;
}
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	-webkit-clip-path: inset(50%);
	        clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	-webkit-clip-path: none;
	        clip-path: none;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 1.5em;
	/* Make sure select elements fit in widgets. */
}

.widget select {
	max-width: 100%;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}





/*--------------------------------------------------------------
## Custom Code
--------------------------------------------------------------*/
.entry-summary {
    margin: 0;
}


.contattiHeader {
    display: flex;
    justify-content: space-between;
    margin: 20px 50px 0 50px;
		/* letter-spacing: 3px; */
}

/*--------------------------------------------------------------
## Breadcrumb
--------------------------------------------------------------*/
.woocommerce-breadcrumb {
  text-transform: lowercase;
	margin: 2em 0 3em 0 !important;
}

.crumb {
    font-family: "Roboto Condensed" !important;
}

/*--------------------------------------------------------------
## Strato sopra immagini
--------------------------------------------------------------*/


.tinv-wraper a::before{
    color: red;
}


span.tinvwl_add_to_wishlist-text,
.xoo-qv-button span{
	color: #ac976b;
}

.xoo-qv-button span{
	display: none;
}

a.xoo-qv-button{
	border: 0px !important;
}





a.xoo-qv-button{
    font-family: "Roboto Condensed" !important;
    font-size: 10px !important;
    margin: 0 !important;
    padding: 3px !important;
    height: 20px !important;
}

a.tinvwl_add_to_wishlist_button.tinvwl-icon-heart.tinvwl-position-after{
	margin: 0 !important;
}

.tinv-wraper.woocommerce.tinv-wishlist.tinvwl-after-add-to-cart.tinvwl-loop-button-wrapper {
    height: 20px !important;
}

.sopra {
    position: absolute;
    background-color: rgba(219, 219, 211, 0.8);
    opacity: 0;
    width: 100%;
    height: 100%;
    display: flex;
    transition: all 0.4s ease-in-out;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sopra h2{
	text-transform: uppercase;
	font-family: 'Roboto';
	letter-spacing: 1px;
	font-weight: 600;
    font-size: .8rem;
}

.sopra:hover{
	opacity: 1;
}


.sopra a.button,
/* .add_to_cart_button,
a.button.product_type_grouped,
a.button.product_type_variable,*/
.leggi{
    font-size: 12px;
    font-family: "Roboto";
    letter-spacing: 1px;
    /* border: 1px solid red; */
    /* width: 130px; */
    /* height: 40px; */
    padding: 10px 75px;
    margin: 10px auto;
    /*background-color: #807e59;*/
		background-color: #a46497;
    /* background-color: #ce1b22; */
    color: #fff;
    transition: all 0.4s ease-in-out;
    border-radius: 0px,
}

/* .sopra a.button:hover,
.leggi:hover{
	color: black!important;
    background: #5b6f54!important;
} */




.sopraHeader{
    font-size: 10px;
    font-family: "Roboto Condensed";
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    font-family: Roboto Condensed !important;
    color: #ac976b;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.wishlistContainer{
	margin-right: 25px;
}
.price{
	color: #000 !important;
	font-family: 'Lato', sans-serif;
	font-weight: bold !important;
}
.sopraFooter {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* max-width: 130px; */
    justify-content: space-between;
    /* flex-wrap: inherit; */
    text-transform: uppercase;

}
/*.sopraFooter a.add_to_cart_button,
a.button.product_type_grouped,
a.button.product_type_variable{
	font-size: 12px;
    font-family: "Roboto";
    letter-spacing: 1px;

    border-radius: 0px;
    transition: all 0.4s ease-in-out;
}*/

.tinv-wishlist .tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before, .woocommerce ul.products li.product a.tinvwl-button.tinvwl_add_to_wishlist_button.tinvwl-icon-heart:before, .woocommerce-page ul.products li.product a.tinvwl-button.tinvwl-icon-heart.tinvwl_add_to_wishlist_button:before, a.wishlist_products_counter.top_wishlist-heart:before {
  content: '\e909';
  display: inline-block;
  font-family: tinvwl-webfont !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px !important;
  vertical-align: middle !important;
  margin-right: 5px;
}
/*--------------------------------------------------------------
## Navigation
--------------------------------------------------------------*/

/* .menu-menu-gli-container e'quello che nell'esempio viene chiamato main-menu*/
#site-navigation {
	display: flex;
	flex-direction: column;
    height: 100vh;
    position: fixed;
    z-index: 998;
    overflow-y: scroll;
    transition: left 0.3s ease;
    top: 0px;
    left: -270px;
	width: 253px;
    padding: 30px 25px 0px 20px;
    background: #fafbfc;
    box-shadow: 10px 5px 10px #0000001a;
}


#retro{
		visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 990;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
		background-color: black;
		/* opacity: 0.3; */

}

/*questo e' il bottone marrone*/
#menu-principale-toggle {
	display: initial;
    position: fixed;
    top: 50px;
    left: 0px;
    width: 15px;
    height: 100px;
    /*writing-mode: sideways-lr;*/
    -ms-writing-mode: tb-lr;
        writing-mode: vertical-lr;
    text-align: center;
    color: white;
	text-decoration: none;
	background-color: #ce1b22;
	/* background-color: #aa6934; */
	letter-spacing: 2px;
    /*transition: transform 500ms ease;*/
	font-size: 12px;
	line-height: 15px;
	font-family: "Roboto Condensed";
    z-index: 999;

}
/*questo e' il menu bianco* quello che sarebbe la ul*/



/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/

.site-footer{
	/* height: 113px; */
	/* background-color: #f3f3f3; */
	background-color: #fff;
	font-size: 13px;
    font-size: 0.8rem;
    font-family: "Roboto Condensed";
		margin-top: 3rem;
}

.carteDiCredito {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.site-info{
	text-align: center;
  margin: 15px 0 15px 0;
}
.site-info > p {
    margin: 3px 0;
}


/* .site-content, */
.content-area{
	max-width: 90%;
	margin: 0 auto;
}

/*#ascensore{
	position: fixed;
    border: 2px solid black;
    bottom: 0px;
    right: 0;
    margin: 20px;
    padding: 20px;
    z-index: 1000000;
}*/
#ascensore {
    width: 45px;
    background: #eee;
    opacity: 1;
    text-align: center;
    padding: 10px 10px 10px 10px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    transition:  all 0.4s ease-in-out;
    z-index: 9;
    border-radius: 5px;
    display: block;

}
#ascensore i {
    color: #000;
    font-size: 1.5em;
}




/*header*/
p.site-title {
    text-align: center;
}

/* #masthead > div > p.site-title > a > img{
	max-width: 300px;
} */

/*testo introduttivo*/
.intro{
    max-width: 67%;
    margin: 0 auto;
    text-align: center;
    color: #000;
    padding-bottom: 50px;
}

.ced h2,
section.up-sells,
.up-sells h2,
.related.products h2,
.instagram h2{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 1px;
	margin: 2rem 0;
	text-transform: uppercase;
}
.elfsight-widget-instagram-feed{
	margin-bottom: 16px;
}
/*
Single Product
*/

.summary{
	/*border: 1px solid red;*/
	font-family: "Roboto Condensed";
	font-size: .8rem;
}
.summary h2{
	letter-spacing: 1px !important;
	font-size: 0.85rem !important;
	font-weight: 500 !important;
	text-align: left;
	text-transform: uppercase;
}
#tab-title-description {
	visibility: hidden;
}
.product_title.entry-title {
	font-size: 1rem;
	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	margin-bottom: 1.25rem;
}

#tab-description {
	max-height: 300px;
	overflow: auto;
	/* width: 388px; */
}
.tabs.wc-tabs {
	margin-top: -35px !important;
	margin-bottom: 10px !important;
}


/*--------------------------------------------------------------
## QUICKVIEW
--------------------------------------------------------------*/
.xoo-qv-close.xoo-qv.xooqv-cross {
	background-color: #aa6934;
	padding: 10px;
	margin-bottom: -15px;
}

.xoo-qv-container{
  padding: 9px;
  transform: translate3d(0, 0, 0);
  background: #dbdcd4;
  position: absolute;
  top:15%;
  bottom: 15%;
  left: 15%;
  right: 15%;
  margin: auto;
  max-width: 1100px;
  max-height: 636px;
}
.xoo-qv-main {
	overflow: auto;
	position: relative;
	top: 0;
	height: 100%;
	background-color: #dbdcd4;
}
@font-face {
    font-family: "Roboto Condensed", 'xoo-qv';
    src:    url('fonts/xoo-qv.eot?9mvi0e');
    src:    url('fonts/xoo-qv.eot?9mvi0e#iefix') format('embedded-opentype'),
        url('fonts/xoo-qv.ttf?9mvi0e') format('truetype'),
        url('fonts/xoo-qv.woff?9mvi0e') format('woff'),
        url('fonts/xoo-qv.svg?9mvi0e#xoo-qv') format('svg');
    font-weight: normal;
    font-style: normal;
}
.xoo-qv {
    /* use !important to prevent issues with browser extensions that change fonts */
    /* font-family: "Roboto Condensed" !important; */
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#masthead > div.site-branding > p > a > img {
    max-width: 16.5%;
}

section.instagram {
    margin-bottom: 7rem;
}

.politica_iva {
    margin-left: 3px;
    color: red;
}

/*
BANNER FOTO
*/

.banner_blocco {
    margin: 1rem 0 1rem 0;
    flex-grow: 1;
    /* padding: 10px; */
    border-right: solid #0000001a;
		text-align: center;
}

.banner-info {
	display: flex;
	min-height: 6rem;
}

.banner_blocco .fas{
	font-size: 3rem;
}

/* TABELLA */

.nipv_table td {
	background: #DBDBD3 !important;
	/* padding: 4px; */
}

th.header:nth-child(1) {
	width: 47% !important;
}
.ni_add_to_cart_button{
	background-color: #a46497 !important;
	color: white !important;
}

.woocommerce-product-details__short-description {
	max-height: 200px;
	overflow-y: scroll;
	margin-bottom: 20px;
}



.woocommerce-breadcrumb .crumb a {
    text-decoration: none;
}
.woocommerce-breadcrumb .crumb:first-child a::before {
	/* font-family: 'FontAwesome'; */
  font-family: 'Font Awesome\ 5 Free';
	content: "\f015";
}



.carrello > a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.carrello {
    margin: 0;
    padding: 0;
    margin-left: 10px;
}

.contSX {
    display: flex;
    flex-direction: row;
}

.contDX > a {
    margin-left: 10px;
}









/* media query */

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {

	#masthead > div.site-branding > p > a > img {
	max-width: 35.5%;
	}

	.main-navigation ul {
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;
		flex-grow: 1;
		flex-direction: column;
	}




	#colophon > div.banner-info > div > img{
	    width: 30% !important;
	}


	#colophon > div.banner-info > div:nth-child(1) > img,
	#colophon > div.banner-info > div:nth-child(2) > img{
		width: 40% !important;
	}

	#colophon > div.banner-info > div > p{
		font-size: 0.5rem;
	}




	/* .wishlistContainer {
	margin-right: 5px;
	} */

	.sopra a.button, .leggi {
	font-size: 10px;
	font-family: "Roboto";
	letter-spacing: 1px;
	/* border: 1px solid red; */
	/* width: 130px; */
	/* height: 40px; */
	padding: 6px 45px;
	/* margin: 10px auto; */
	/* background-color: #807e59; */
	background-color: #a46497;
	/* background-color: #ce1b22; */
	color: #fff;
	transition: all 0.4s ease-in-out;
	border-radius: 0px,;
	/* z-index: 100000; */
}

	/* .woocommerce ul.products[class*="columns-"] li.product, .woocommerce-page ul.products[class*="columns-"] li.product {
	width: 48%;
	float: left;
	clear: both;
	margin: 0 0 2.992em;
	} */

	.sopra {
		font-size: 0.8rem;
	}

	.sopraHeader {
	display: none;
	}

	.wishlistContainer {
	margin-right: 5px;
	}

}

@media screen and (min-width: 760px) {
.prodottoGLI {
    max-width: 33%;
    padding: 20px;
}

.flessibile {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    max-width: 80%;
    margin: 0 auto;
}

	
/* 	.lp-screen-graphic{
	height: 200px !important;
	} */
	
}


